spring:
  application:
    name: traceurl

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: create

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 4
